<% if !current_user %>

<% else %>


<div class="hero-unit">
	<div class="container">

		<h1>Quickfeed</h1>

		<br>
		<br>

		<div class="row">

		<% @news.each do |story| %>

			<% @booly = ReadPost.where(:post_id => story["post_id"], :user_id => current_user.id) %>

			<% if @booly.empty? %>

				<div class="span8">
					Post ID:<%= story["post_id"] %><br>
					Poster:<%= @graph.get_object("#{story['actor_id']}")["name"] %><br>
					Message:<%= story["message"] %><br>
					Target:<%= story["target_id"]%><br><br>

				    <%= link_to "Comment.", { :controller => "feeds", :action => "comment_post", :id => story["post_id"] }, {:id => "commentbutton", :class => "btn btn-large btn-info"}%>

				</div>

				<div class="span2">
					<%= link_to "Like.", { :controller => "feeds", :action => "like_post", :id => story["post_id"] }, {:id => "likebutton", :class => "btn btn-large btn-primary"}%>

					<%= link_to raw("<i class='icon-ok'></i>"), {:controller => "feeds", :action => "mark_as_read", :id => story["post_id"] }, {:id => "readbutton", :class => "btn btn-large btn-success"}%>
				</div>

				<% break %>

			<% end %>

		<% end %>

	</div>
</div>






<% end %>